#time {
  position: absolute;
  text-align: center;
  right: 20px;
  font-family: 'Josefin Sans', sans-serif;
  top: 13px;
  border: 1px solid black;
  padding: 4px;
  border-radius: 15px 0 15px 0;
  background: linear-gradient(to right, indigo, purple);
  height: 3.9vh;
  width: 11.2vh;
  color: #fff;
 }
 
 input{
  margin: 0 5px ;
  letter-spacing: 0.7px;
  outline: none;
  border: 3px solid rgba(0,0,225,0.4);
  height: 48px;
  border-radius: 5px;
  width: 75%;
  background: rgba(45,100,100,0.3);
  color: rgba(220,220,220,0.9);
  font-family: 'Grandstander', sans-serif;
 }
 input::placeholder{
     color: black;
     filter: opacity(70%);
 }
 h2 {
  font-size: 42px;
  color: rgba(5,5,5,0.7);
  text-align: center;
  text-shadow: 3px 2px 2px lightgray;
  font-family: 'Roboto', sans-serif;
  padding: 25px;
  margin: 45px 25px 25px 25px;
 }
 
 #message {
  padding: 25px;
  border-radius: 4px;
  box-shadow: 0 2px 5px 0 rgba(2,2,2,0.5);
  text-align: left;
  height: 50%;
  width: 73%;
  color: rgba(255,255,255,0.9);
  margin-top: 25px;
  letter-spacing: 2px;
  /* add line-spacing: [n]px;
  word-spacing: [n]px;
  overflow-y: [hidden|auto|scroll] if needed;
  */
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  
 }
 .container{
     display: block;
     align-content: left;
 }
 
 button {
   /* box-shadow: 0 4px 5px 0 rgba(30,30,30,0.3); */
   /* border: 1px solid white; */
   /* outline: none; */
   width: 20%;
   height: 40px;
   border-radius: 5px;
   background: rgba(26,26,56,0.5);
   border: 0 solid;
   box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
   outline: 1px solid;
   outline-color: rgba(255, 255, 255, .5);
   outline-offset: 0px;
   text-shadow: none;
   transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
 }
 
 button:hover {
   cursor: pointer;
   border: 1px solid;
   box-shadow: inset 0 0 20px rgba(255, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .2);
   outline-color: rgba(255, 255, 255, 0);
   outline-offset: 15px;
   text-shadow: 1px 1px 2px #427388; 
 }
 
 #message:hover {
   cursor: default;
 }
 
 a {
     cursor: pointer;
 }
 
 body {
   background: linear-gradient(to right, rgba(20,10,148,0.3), rgba(10,20,158,0.5));
 }
 
 #searchInput:active {
   background-color: rgba(225,165,0,0.8);
 }
 
 button:active {
   color: lightgray;
 }
 
 /* if the device's maximum width is 500px, set padding for the body to 8px */
 @media screen and (max-width: 500px) {
   body {
     padding: 8px;
   }
 }
 
 /* Snackbar section */
 /* start */
 #snackbar {
   visibility: hidden;
   min-width: 250px;
   margin-left: -125px;
   background-color: #333;
   color: #fff;
   text-align: center;
   border-radius: 2px;
   padding: 16px;
   position: fixed;
   z-index: 1;
   left: 50%;
   bottom: 30px;
   font-size: 17px;
 }
 
 #snackbar.show {
   visibility: visible;
   -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
   animation: fadein 0.5s, fadeout 0.5s 2.5s;
 }
 
 @-webkit-keyframes fadein {
   from {bottom: 0; opacity: 0;} 
   to {bottom: 30px; opacity: 1;}
 }
 
 @keyframes fadein {
   from {bottom: 0; opacity: 0;}
   to {bottom: 30px; opacity: 1;}
 }
 
 @-webkit-keyframes fadeout {
   from {bottom: 30px; opacity: 1;} 
   to {bottom: 0; opacity: 0;}
 }
 
 @keyframes fadeout {
   from {bottom: 30px; opacity: 1;}
   to {bottom: 0; opacity: 0;}
 }
 /* end */
 
 .navbar-container {
   width: 50%;
   position: absolute;
   display: inline;
   overflow-x: hidden;
   margin-left: 8px;
 }
 
 .menu-toggler {
   display: none;
 }
 
 .menu-toggler-label {
   cursor: pointer;
   font-size: 32px;
   width: 0%;
   font-weight: bold;
 }
 
 .stagger-menu {
   background: indigo;
   border-radius: 3px;
   list-style-type: none;
   margin: 6px 0;
   padding: 0;
 }
 
 .stagger-menu li {
   cursor: pointer;
   color: lightgray;
   margin-bottom: 8px;
   font-size: 18px;
   opacity: 0;
   transform: translateX(100%);
   transition-property: opacity, transform;
   transition-duration: 0.3s;
   transition-timing-function: cubic-bezier(0.75, -0.015, 0.565, 1.055);
 }
 
 .stagger-menu li:hover {
   color: white;
   background: linear-gradient(to right, rgba(79, 84, 88, 0.8), transparent);
 }
 
 .menu-toggler:checked ~ .stagger-menu li {
   opacity: 1;
   transform: translateX(0);
   transition-delay: calc(0.055s * var(--i));
 }
 
 .hover-shadow-box-animation {
   display: inline-block;
   vertical-align: middle;
   transform: perspective(1px) translateZ(0);
   box-shadow: 0 0 1px transparent;
   margin: 10px;
   transition-duration: 0.3s;
   transition-property: box-shadow, transform;
 }
 
 .hover-shadow-box-animation:hover,
 .hover-shadow-box-animation:focus,
 .hover-shadow-box-animation:active {
   box-shadow: 1px 10px 10px -10px rgba(0, 0, 24, 0.5);
   transform: scale(1.2);
 }
 
 .modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

